body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-image: url('mushishi.jpg-large.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f0f0f0; /* Fallback color */
}

h1 {
    color: #003300;
    text-align: center; /* Center the heading */
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    background-color: #ffffff; 
}

table {
    width: 80%; /* Adjust width as needed */
    margin: auto; /* Center the table */
    border-collapse: collapse;
    margin-bottom: 20px; /* Add space below the table */
}

table, th, td {
    border: 1px solid black;
    text-align: left; /* Align text to the left for better readability */
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Optional: add some styling to the button */
button {
    background-color: #009900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #007700; /* Darken on hover */
}

button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px #009900; /* Add a custom focus effect */
}
