body {
    display: flex;
    align-items: center; /* Centers content vertically */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('maxresdefault.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

h1 {
    color: #003300;
}

a {
    color: #009900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    background-color: #e0ffff; /* Light cyan on focus */
}


